.addBg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 3;
    background-color: transparent;
}

.formAdd {
    padding: 40px 77px 45px;
    margin: auto;
}

.formAdd h3 {
    margin-bottom: 11px;
}